/* Root Variables for Customization */
:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --grey-light: #ececec;
    --grey-dark: #b6b6b6;
    --grey-darker: #232323;
    --control-bg: rgba(0, 0, 0, 0.7);
    --highlight-color: #83a9ff;
    --active-color: #ff9f1a;
    --hover-color: #3f51b5;
    --alt-bg-color: #2a2a2a;
    --border-radius: 20px;
    --box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    --track-art-size: 20vw; /* Use percentage for responsiveness */
    --track-art-max-size: 100px; /* Max size for larger screens */
    --track-art-radius: 50%;
    --track-height: 70px; /* Track height customization */
}

/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

/* Scrollbar Styling */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

/* Main Content Styling */
main {
    margin-left: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

/* Navbar Styling */
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    overflow: hidden;
    z-index: 1;
}

/* Navbar Navigation */
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* Navbar Item */
.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

/* Navbar Link */
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.nav-link .svg-inline--fa path {
    transition: fill var(--transition-speed);
}

.fa-primary {
    color: #ff7eee;
    transition: var(--transition-speed);
}

.fa-secondary {
    color: #df49a6;
    transition: var(--transition-speed);
}

/* Navbar Logo */
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-speed);
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar.active {
    width: 16rem;
}

.navbar.active .link-text {
    display: inline;
}

.navbar.active .logo svg {
    margin-left: 15rem;
    transform: rotate(180deg);
}

.navbar.active .logo-text {
    left: 15px;
}

/* Submenu Styling */
.submenu {
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: var(--bg-secondary);
    overflow-y: auto;
    max-height: 200px;
}

.submenu::-webkit-scrollbar {
    width: 0.5rem;
}

.submenu::-webkit-scrollbar-track {
    background: #1e1e24;
}

sub-menu::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.submenu input {
    margin-top: 10px;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.thumbnail img {
    width: 50px;
    height: 50px;
}

.thumbnail-label {
    margin-top: 5px;
    color: var(--text-primary);
}

#graphSubmenu {
    max-height: 300px;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar.active {
        width: 16rem;
    }
}

/* Theme Styling */
.solar {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.dark {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}

.dark .player-container, .dark .track, .dark .remove-track, .dark .seek-slider {
    background-color: #333;
    color: #fff;
}

.light .player-container, .light .track, .light .remove-track, .light .seek-slider {
    background-color: #fdf6e3;
    color: #576e75;
}

.solar .player-container, .solar .track, .solar .remove-track, .solar .seek-slider {
    background-color: #fff;
    color: #000;
}

/* Flexbox Container Styling */
.flex-container {
    display: flex;
    flex-direction:  horizontal;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.flex-item {
    margin: 10px;
    padding: 10px;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    width: 90%;
    max-width: 800px;
}

.flex-item.description {
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);

}

.plot {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60vmin;
}

#plot * {
    cursor: default;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: auto;
    transition: transform 0.6s;
}

button {
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

#pageDescription {
    color: white;
    font-size: 1em;
    text-align: center;
}

#version {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(102, 102, 102);
    font-size: 0.8em;
    opacity: 0.8;
    z-index: 1;
}

#player {
    display: none;
    padding: 10px;
}

#controlOverlay {
    position: flex;
    top: 60vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

#graphDescriptionContainer {
    color: white;
    text-align: center;
}

#companyInfo {
    color: white;
    font-size: 1em;
    text-align: center;
}

#logoAnimation {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    background-color: #444;
    border-radius: 50%;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Music Player Specific Styling */
#musicPlayerBox {
    max-width: 300px;
    margin: 0 auto; /* Centering the player */
    background-color: var(--control-bg);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
}

.player {
    padding: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.track-art {
    width: 50px; /* Smaller size */
    height: 50px;
    background-color: #333;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.track-info {
    flex: 1;
    font-size: 0.8em; /* Reduced font size */
}

.track-name {
    font-size: 1.2em;
    color: var(--secondary-text);
    margin: 5px 0;
}

.track-artist {
    font-size: 1em;
    color: var(--primary-text);
    margin: 5px 0;
}

.player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Reduced margin */
}

.music-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; /* Reduced margin */
}

.music-buttons div {
    color: var (--primary-text);
    cursor: pointer;
    font-size: 1.2em;
    transition: color var(--transition-speed);
}

.player-controls .music-buttons div:hover {
    color: var(--hover-color);
}

.player-controls .music-buttons .active {
    color: var(--active-color);
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Reduced margin */
}

.seek-slider {
    width: 80%;
    height: 2px;
    background: var(--highlight-color);
    border-radius: 5px;
    cursor: pointer;
}

.seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px; /* Smaller size */
    height: 12px;
    background: var(--highlight-color);
    cursor: pointer;
    border: none; /* Remove border */
    border-radius: 50%;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8em; /* Reduced font size */
    color: #fff;
}

.separator {
    width: 95%;
    height: 2px;
    background: linear-gradient(to right, transparent, #aaa, transparent);
    margin: 10px auto;
}

.playlist {
    padding: 10px;
    flex: 1;
    overflow-y: auto;
}

.track-list {
    max-height: 200px; /* Ensure the tracklist has a scroll */
    overflow-y: auto;
}

.track-list:hover {
    overflow-y: auto;
}

.track {
    display: flex;
    align-items: center;
    padding: 5px 0; /* Reduced padding */
    cursor: pointer;
    background-color: var(--control-bg);
}

.track:nth-child(even) {
    background-color: var(--alt-bg-color);
}

.track.active {
    background-color: var(--active-color);
}

.track:hover {
    background-color: var(--hover-color);
}

.track img {
    width: 40px; /* Smaller size */
    height: 40px;
    border-radius: 5px; /* Reduced border radius */
    margin-right: 10px;
}

.track-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-name {
    font-size: 0.8em;
    color: var(--primary-text);
    margin-bottom: 5px;
}

.track-artist {
    font-size: 0.8em;
    color: var(--secondary-text);
}

.track-list::-webkit-scrollbar {
    width: 8px;
}

.track-list::-webkit-scrollbar-thumb {
    background: var(--highlight-color);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .player-container {
        max-width: 90vw;
        max-height: 50px;
    }

    .track-art {
        width: 50%;
        height: 50%;
    }

    .music-buttons div {
        font-size: 1.2em;
    }

    .slider-container {
        flex-direction: column;
    }

    .seek-slider {
        width: 100%;
    }

    .volume-slider {
        width: 50%;
    }

    .info {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .track-name, .track-artist {
        font-size: 1em;
    }

    .music-buttons div {
        font-size: 1em;
    }

    .slider-container {
        flex-direction: column;
    }

    .seek-slider {
        width: 100%;
    }

    .volume-slider {
        width: 60%;
    }

    .info {
        flex-direction: column;
        align-items: center;
    }
}

/* Add these styles for the effect button */
#effectBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1; /*find the reason why this works*/
}

#effectBtn:hover {
    background-color: #555;
    transform: scale(1.05);
}

#effectBtn.active {
    background-color: #ff9f1a;
}

.remove-track {
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 1.2em;
    cursor: pointer;
    margin-left: auto;
}

.remove-track:hover {
    color: var(--highlight-color);
}